
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Site made with Mobirise Website Builder v4.10.0, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.10.0, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/mbr-122x244.jpg" type="image/x-icon">
  <meta name="description" content="Web Site Maker Description">
  
  <title class="followers">Followers</title>
  
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css">
  
  
  
</head>
<body>
        <% include ./global/header %>

<section class="engine"><a href="#">free website templates</a></section><section class="header1 cid-rqCdXNW02z" id="header16-w">

    

    

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 align-center">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                    <span class="followers" style="font-weight: normal;">Followers</span>
                    <span class="following" style="font-weight: normal;">Following</span>
                </h1>
                
                
                
            </div>
        </div>
    </div>

</section>

<section class="features3 cid-rqCdc98aHE" id="features3-v">

    

    
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/profile-1-492x492.jpg" alt="Mobirise" title="">
                    </div>

                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">Arno</h4> 
                    </div>

                    <div class="mbr-section-btn text-center">
                        <a href="https://mobirise.co" class="follow btn btn-primary display-4">Follow</a> 
                        <a href="https://mobirise.co" class="follow btn btn-primary display-4">Following</a> 
                        <a href="https://mobirise.co" class="follow btn btn-primary display-4">Unfollow</a>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/profile-pango-233x233.png" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">Dodo</h4>
                    </div>
                    <div class="mbr-section-btn text-center">
                            <a href="../public/https://mobirise.co" class="follow btn btn-primary display-4">Follow</a> 
                            <a href="../public/https://mobirise.co" class="follow btn btn-primary display-4">Following</a> 
                            <a href="../public/https://mobirise.co" class="follow btn btn-primary display-4">Unfollow</a>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/profile-platy-220x220.jpg" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">Aloys</h4>
                    </div>
                    <div class="mbr-section-btn text-center">
                            <a href="https://mobirise.co" class="follow btn btn-primary display-4">Follow</a> 
                            <a href="https://mobirise.co" class="follow btn btn-primary display-4">Following</a> 
                            <a href="https://mobirise.co" class="follow btn btn-primary display-4">Unfollow</a>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/janellemonae-220x220.jpg" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            Janelle Monae</h4>
                        
                    </div>
                    <div class="mbr-section-btn text-center">
                            <a href="https://mobirise.co" class="follow btn btn-primary display-4">Follow</a> 
                            <a href="https://mobirise.co" class="follow btn btn-primary display-4">Following</a> 
                            <a href="https://mobirise.co" class="follow btn btn-primary display-4">Unfollow</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<% include ./global/footer %>

  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/dropdown/js/script.min.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.6.0/APlayer.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/color-thief-don@2.0.2/src/color-thief.js"></script>
  <script src="js/aplayer.js"></script>
  
  
</body>
</html>