
<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v4.10.0, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.10.0, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/mbr-122x244.jpg" type="image/x-icon">
  <meta name="description" content="Web Page Generator Description">
  
  <title>UserPage</title>
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body>
        <% include ./global/header %>

<section class="engine"><a href="https://mobirise.info/n">free simple web templates</a></section><section class="testimonials2 cid-rqAshNPiXv" id="testimonials2-g">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-figure pr-lg-5" style="width: 30%;">
              <img src="assets/images/50751114-1144842132349782-3612708365186105344-n-658x658.jpg" alt="" title="">
            </div>
            <div class="media-content px-3 align-self-center mbr-white py-2">
                    <p class="mbr-text testimonial-text mbr-fonts-style display-2">
                        <span style="font-style: normal;">h00t</span>
                        <img src="" class="verified" alt="" title="verified">
                    </p>
                    <p class="mbr-author-name pt-4 mb-2 mbr-fonts-style display-7"><span style="font-weight: normal;">
                       /*optional*/ name and first name</span></p>
                    <p class="mbr-author-desc mbr-fonts-style display-7">
                       Description</p>
            </div>
        </div>
    </div>
</section>

<section class="features18 popup-btn-cards cid-rqAticnhXu" id="features18-h">

    

    
    <div class="container">
        
        <h3 class="mbr-section-subtitle display-5 align-center mbr-fonts-style mbr-light">Albums</h3>
        <div class="media-container-row pt-5 ">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="https://mobirise.co" class="btn btn-secondary display-4">Play</a></div>
                        <img src="assets/images/220px-amala-220x220.jpg" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            Amala</h4>
                        <p class="mbr-text mbr-fonts-style align-left display-7">
                            Doja Cat</p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="https://mobirise.co" class="btn btn-secondary display-4">Play</a></div>
                        <img src="assets/images/220px-dirtycomputer-220x220.png" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            Dirty Computer</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                           Janelle Monae</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="https://mobirise.co" class="btn btn-secondary display-4">Play</a></div>
                        <img src="assets/images/220px-the-carters-everything-is-love-official-album-cover-220x220.png" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">Everything Is Love</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            The Carters</p>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

<section class="features18 popup-btn-cards cid-rqAtrNILMU" id="features18-i">

    

    
    <div class="container">
        
        <h3 class="mbr-section-subtitle display-5 align-center mbr-fonts-style mbr-light">Playlists</h3>
        <div class="media-container-row pt-5 ">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="https://mobirise.co" class="btn btn-secondary display-4">Play</a></div>
                        <img src="assets/images/220px-amala-220x220.jpg" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            Amala</h4>
                        <p class="mbr-text mbr-fonts-style align-left display-7">
                            Doja Cat</p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="https://mobirise.co" class="btn btn-secondary display-4">Play</a></div>
                        <img src="assets/images/220px-dirtycomputer-220x220.png" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            Dirty Computer</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                           Janelle Monae</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="https://mobirise.co" class="btn btn-secondary display-4">Play</a></div>
                        <img src="assets/images/220px-the-carters-everything-is-love-official-album-cover-220x220.png" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">Everything Is Love</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            The Carters</p>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

<% include ./footer %>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/dropdown/js/script.min.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/mbr-popup-btns/mbr-popup-btns.js"></script>
  <script src="assets/theme/js/script.js"></script>
  
  
</body>
</html>